<a href="https://colab.research.google.com/github/mssnowy/c98/blob/main/C98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
list1 = [32, 54, 67, 98, 12]
print(list1)
type(list1)
len(list1)

[32, 54, 67, 98, 12]

5

In [4]:
list2 = ['sisira', 'james', 'emily', 'sara', 'max']
print(list2)
type(list2)
len(list2)

['sisira', 'james', 'emily', 'sara', 'max']

5

In [6]:
list1 = [32, 54, 67, 98, 12]
list1.index(12)
list1.index(54)

1

In [8]:
list1 = [32, 54, 67, 98, 12]
#print(list1[2])
list1[0]

32

In [9]:
list1 = [32, 54, 67, 98, 12]
list1[-4]

54

In [12]:
list3 = [32, 54, 67, 98, 12, 29, 41, 70, 5, 37]
list3[0:2]
list3[0:5]

[32, 54, 67, 98, 12]

In [14]:
list3 = [32, 54, 67, 98, 12, 29, 41, 70, 5, 37]
list3[-5:-3]
list3[-8:-5]

[67, 98, 12]

In [16]:
list3 = [32, 54, 67, 98, 12, 29, 41, 70, 58, 37]
for elements in list3:
  print(elements)

32
54
67
98
12
29
41
70
58
37

In [17]:
list2 = ['sisira', 'james', 'emily', 'sara', 'max']
for names in list2:
  print(names)

sisira
james
emily
sara
max

In [20]:
list2 = ['sisira', 'james', 'emily', 'sara', 'max']
for i in range (0,5):
  #print(i)
  print(list2[i])

sisira
james
emily
sara
max

In [21]:
for i in range (0,10,2):
  print(i)

0
2
4
6
8

In [24]:
for i in range (1,10,2):
  print(i)

1
3
5
7
9

In [29]:
for i in range (10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [34]:
list5 = [75, 98, 89, 86, 79, 62, 78, 61, 90, 97, 92, 61, 64, 97, 82, 69, 87, 96, 65, 75, 85, 76, 95, 83, 62, 80, 80, 77, 94, 71, 86, 94, 85, 99, 77, 68, 92, 91, 99, 90]
count = 0
check_number = 75
for i in list5:
  if (check_number == i):
    count = count+1
print(count)

2